.content-table {
    border-collapse: collapse;
    font-size: 16px;
    min-width: 400px;
    margin: 25px 0; 
    border-radius: 10px 10px 0 0;
    background-color: #0088a9;
    color: #282c34;
}

.content-table thead tr {
    color: #fff;
    text-align: left;
    font-weight: bold;   
}

.content-table th, 
.content-table td {
    padding: 12px 15px;
}

.content-table tbody tr{
    background-color: #fff;
    border-bottom:2px solid #ddd ;
}

.content-table tbody tr:nth-of-type(even){
    background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type{
    border-bottom:2px solid #0088a9;
}


