.carrossel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: fit-content;

    transition: linear 300ms;
}

.radio-button {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    background-color: #0088a9;
}

.buttons-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100px;
    margin: 0 20px;
}